<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <My.MySettings>
            <setting name="PackageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FBXFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RawDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PackageScanFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DescriptorFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportParentCreationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportAllMips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptimizePackageSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DDSFolder" serializeAs="String">
                <value />
            </setting>
        </My.MySettings>
    </userSettings>
</configuration>
